<div class="row">
  <div class="col-md-6">
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.swc_pre_survey }}{{ site.github.project_title }}">Pre-workshop survey</a> </td> </tr>
      <tr> <td>Nov. 1, 2019</td>  <td>Automating Tasks with the Unix Shell</td> </tr>
      <tr> <td>Nov. 8, 2019</td>  <td>Building Programs with Python</td> </tr>
      <tr> <td>Nov. 15, 2019</td>  <td>Building Programs with Python (cont.)</td> </tr>      
     <!-- <tr> <td>Nov. 22, 2019</td>  <td>Version Control with Git</td> </tr>
      <tr> <td></td>  <td>Managing Data with SQL</td> </tr>
      <tr> <td>After</td>  <td><a href="{{ site.swc_post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop Survey</a></td> </tr>
      <tr> <td></td>  <td>END</td> </tr> -->
    </table>
  </div>
  <div class="col-md-6">
    <table class="table table-striped">
     <!-- <tr> <td>Before</td> <td><a href="{{ site.swc_pre_survey }}{{ site.github.project_title }}">Pre-workshop survey</a> </td> </tr>
      <tr> <td>Nov. 1, 2019</td>  <td>Automating Tasks with the Unix Shell</td> </tr>
      <tr> <td>Nov. 8, 2019</td>  <td>Building Programs with Python</td> </tr>
      <tr> <td>Nov. 15, 2019</td>  <td>Building Programs with Python (cont.)</td> </tr> -->      
      <tr> <td>Nov. 22, 2019</td>  <td>Version Control with Git</td> </tr>
      <tr> <td></td>  <td>Managing Data with SQL</td> </tr>
      <tr> <td>After</td>  <td><a href="{{ site.swc_post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop Survey</a></td> </tr>
      <tr> <td></td>  <td>END</td> </tr>
    </table>
  </div>
</div>
